*{
    margin: 0;
 
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(97, 191, 245);
}
#card{
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    text-align: center;
     padding:20px;

} 
#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
   
    border-radius: 10px;
}
#card h1{
    font-size: 30px;
    margin: 10px 0;
}
#card h5{
    font-size: 25px;
    color: red;
    margin-bottom: 20px;
}
#card button{
    background-color: cadetblue;
    color: #ffffff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
